[user]
	email = david.strauss@edgycircle.com
	name = David Strauß
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[init]
	templatedir = ~/.git-templates
[url "gitlab@gitlab.bifie.at:"]
	insteadOf = https://gitlab.bifie.at/
